{% extends 'music/base.html' %}
{% block title %} Album Detail {% endblock %}
{% block body %}
    <img src={{ album.album_logo.url }} width="255" height="255">
    <h1> {{album.album_title }} </h1>
    <h3> {{album.artist}} </h3>
    {% for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.is_favorite %}
            <img src="https://vignette.wikia.nocookie.net/lhm/images/2/2e/Star.png/revision/latest?cb=20140812194111&path-prefix=ru" width="16" height="16">
        {% endif %}
        <br>
    {% endfor %}
    <a href="{% url 'music:album-edit' album.id %}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Edit
    </a>
    <a href="{% url 'music:album-delete' album.id %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; Delete
    </a>
{% endblock %}